<div>
  <label>Name</label>
  <span>{{name}}</span>
</div>
<div>
  <label>Description</label>
  <span>{{description}}</span>
</div>
<div>
  <label>spanrice</label>
  <span>{{price}}</span>
</div>
<div>
  <label>Category</label>
  <span>{{category}}</span>
</div>
<div>
  <label>Is available</label>
  <span>{{isAvailable}}</span>
</div>
<br/>

<div>
  <label>Ingredients</label>
  <span *ngFor="let i of ingredients">{{i}}</span>
</div>
<br/>

<div>
  <label>Equivalents</label>
  <span *ngFor="let e of equivalents">{{e}}</span>
</div>

<button class="btn-buy" (click)="buy.emit(name)">Buy</button>