<div appClickToFill>
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <h5>
      Metadata {{ metadata | json }}
    </h5>
    <h5>
      Now {{ now | date:'medium' }}
    </h5>
  </div>
<ul>
  <li routerLinkActive="active-link" 
      [routerLinkActiveOptions]="{exact: true}"
      routerLink="/products">Products</li>
  <li routerLinkActive="active-link" 
      [routerLinkActiveOptions]="{exact: true}"
      routerLink="/cart">Cart</li>
  <li routerLinkActive="active-link" 
      [routerLinkActiveOptions]="{exact: true}"
      routerLink="/order">Order</li>
  <li routerLinkActive="active-link"
      routerLink="/admin">Admin</li>
</ul>

  <router-outlet></router-outlet>

  <app-visible-scroll></app-visible-scroll>
</div>

